# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual env

.venv/
venv/
env/
ENV/
.env

# Jupyter

.ipynb_checkpoints/

# Dataset

data/
MIT/

# Checkpoints / models

checkpoints/
models/
*.pt
*.pth
*.ckpt
*.onnx

# Outputs

outputs/
wandb/
runs/
logs/

# Archives

*.zip
*.tar
*.tar.gz
*.7z

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
